body {
  position: fixed;
}

.navbar-dark {
  background-color: black;
}


@media print {
  .Overflow {
    overflow-y: hidden;
  }

  .Print {
    display: contents;
  }

  .noPrint {
    display: none;
  }
}

 .OLB{
  border-radius: 8px;
 }
.page {
  grid-area: main;
  background-color: #333;
  padding: 1rem;
  margin-top: 1rem;
  width: auto;

}

ul {
  display: inline;
}

.container {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 11px;
}

.exerciseBox {
  grid-area: nav;
  background-color: rgb(46, 47, 45);
  width: auto;
  padding-bottom: 9px;
}

.draggable {
  padding: 4px;
  background-color: white;
  border: 0.0625rem solid black;
  cursor: move;
  border-radius: 0.4375rem;
  padding-right: 0;
  padding-top: 0;
  margin-top: 9px;
  margin-bottom: 9px;

}

.draggable.dragging {
  opacity: 0.5;
}


.row {
  margin-left: 0rem;
  margin-right: 0.75rem;
  padding: 0rem;
}

.col {

  padding: 0;
  margin: 0;
  padding-right: 0.625rem;
  margin-top: 0rem;

}

.col-7 {
  padding-left: 1rem;
  padding-top: 0rem;
}

.sheet {
  aspect-ratio: 1 / 1.414;
}

.paperContainer {
  padding-top: 0;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  height: 945px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scrollWrapper {
  height: 51%;
  overflow-y: auto;
}

.ScrollLeft {
  overflow-y: scroll;
}

/*Paper CSS*/

@page {
  margin: 0
}

body {
  margin: 0
}

.sheet {
  margin: 0;
  overflow: visible;
  position: relative;
  box-sizing: content-box;
  page-break-after: always;
}

/** Paper sizes **/


.A4 .sheet {
  width: 794px;
  height: 1119px;
}


/** Padding area **/

.sheet.padding-38px {
  padding: 38px
}


/** For screen preview **/
@media screen {
  body {
    background: #e0e0e0
  }

  .sheet {
    background: white;
    margin: 19px auto;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
  body.A3.landscape {
    width: 420mm
  }

  body.A3,
  body.A4.landscape {
    width: 297mm
  }

  body.A4,
  body.A5.landscape {
    width: 210mm
  }

  body.A5 {
    width: 148mm
  }

  body.letter,
  body.legal {
    width: 216mm
  }

  body.letter.landscape {
    width: 280mm
  }

  body.legal.landscape {
    width: 357mm
  }
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 1.125rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 0.9375rem;
  font-weight: bold;
  margin-top: 0.125rem;
}

.addButton{
  background-color: rgb(100, 100, 100);
  color: goldenrod;
  cursor: pointer;
  padding: 0.375rem;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1rem;
}

.addButton:hover {
  background-color: rgb(67, 67, 67);
}

.collapsible:hover {
  background-color: #555;
}

.collapsible::after {
  content: '\25BE';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 0.3125rem;
}

button.active::after {
  content: "\25B4";
}

.content {
  padding:  0rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.exerciseHolder {
  margin-top: 19px;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  margin-bottom: 3.125rem;
  background-color: whitesmoke;
  padding: 8px;
  box-shadow: 0rem 0rem 0.3125rem 0rem rgba(18, 18, 18, 0.567)
}

button:focus {
  outline: none;
}

input {
  width: 57px;
  border: none;
  outline: none;
  border-bottom: 0.125rem solid;
}

h4{
  display: inline-block;
}

.deleteButton {
  float: right;
  border-top-right-radius: 0.4375rem;
  border: none;
}



#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  padding: 26px;
  height: 23%;
  aspect-ratio: 2/1;
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  background-color: white;
  font-size: 1.25rem;
  align-content: center;
  border-radius: 8px;
}

.printButton{
  margin-top: 5px;
  border-radius: 8px;
}