body {
  margin: 0;
}

.page {
  grid-area: main;
  background-color: #333;
  padding: 1rem;
  margin-top: 1rem;
  width: auto;
  
}

ul {
  display: inline;
}

.container{
  padding-left: 1.5mm;
  padding-right: 1.5mm;
  padding-top: 3mm;
}
#exerciseBox {
  grid-area: nav;
  background-color: #333;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 10px;
  width: auto;
  
}

.draggable {
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  cursor: move;
}

.draggable.dragging {
  opacity: .5;
}


.row{
    margin-left: 0px;
    padding-left: 3px;
    margin-right: 12px;
    padding-right: 3px;
    padding-top: 6px;
    align-self: right;
}
.col{
 
  align-self: left;
  padding: 0;
  margin: 0;
  padding-right: 10px;
  margin-top: 3px;
  
}
.col-7{
  align-self: right;
  padding: 0;
  margin: 0;
  padding-left: 16px;
  padding-top: 0px;
}
.sheet{
  aspect-ratio: 1 / 1.414;
}

.paperContainer{
  height: 25cm;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scrollWrapper{
  height: 690px;
  overflow-y: auto;
}

/*Paper CSS*/

@page { margin: 0 }
body { margin: 0 }
.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

/** Paper sizes **/
body.A3               .sheet { width: 297mm; height: 419mm }
body.A3.landscape     .sheet { width: 420mm; height: 296mm }
.A4               .sheet { width: 210mm; height: 296mm }
body.A4.landscape     .sheet { width: 297mm; height: 209mm }
body.A5               .sheet { width: 148mm; height: 209mm }
body.A5.landscape     .sheet { width: 210mm; height: 147mm }
body.letter           .sheet { width: 216mm; height: 279mm }
body.letter.landscape .sheet { width: 280mm; height: 215mm }
body.legal            .sheet { width: 216mm; height: 356mm }
body.legal.landscape  .sheet { width: 357mm; height: 215mm }

/** Padding area **/
.sheet.padding-5mm { padding: 5mm }
.sheet.padding-10mm { padding: 10mm }
.sheet.padding-15mm { padding: 15mm }
.sheet.padding-20mm { padding: 20mm }
.sheet.padding-25mm { padding: 25mm }

/** For screen preview **/
@media screen {
  body { background: #e0e0e0 }
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm auto;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
           body.A3.landscape { width: 420mm }
  body.A3, body.A4.landscape { width: 297mm }
  body.A4, body.A5.landscape { width: 210mm }
  body.A5                    { width: 148mm }
  body.letter, body.legal    { width: 216mm }
  body.letter.landscape      { width: 280mm }
  body.legal.landscape       { width: 357mm }
}